@import "./animation.css";

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.custom-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
